body {
  background-color: #F7F7F7;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo {
  padding: 16px;
}

.notifications {
  font-size: 12px;
  background-color: red;
  padding: 0px 8px;
  border-radius: 26px;
  margin-left: 4px;
}

header {
  height: 60px;
  background-color: #4F4F51;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.account {
  padding: 18px;
}

.account:hover {
  background-color: #3A3A42;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
header nav ul li {
  display: inline-block;
  font-size: 16px;
  color: white;
  padding: 19px;
  cursor: pointer;
}

header nav ul li:hover {
  background-color: #3A3A42;
}

input.name, #inlineFormCustomSelect {
  width: 45%;
}

.spaced-bottom {
  margin-bottom: 10px;
}

.spaced-top {
  margin-top: 10px;
}

.form-check-label {
  font-weight: normal;
  margin: 30px 0 20px;
}

input[type=checkbox] {
  margin-right: 5px;
}

.employee {
  margin-top: 20px;
}
.employee:first-child {
  margin-top: 20px;
}
.employee span {
  font-size: 18px;
  height: 20px;
}

.form-control.form-control {
  padding: 6px 4px;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.box {
  text-align: center;
  padding: 20px;
}

.well {
  background-color: #ffffff;
  border-radius: 0;
  -moz-box-shadow:    1px 4px 3px -1px #ccc;
  -webkit-box-shadow: 1px 4px 3px -1px #ccc;
  box-shadow: 1px 4px 3px -1px #ccc;
}

#btn-employee {
  display: none;
}
#btn-employee.active {
  display: block;
}

.btn.active {
  box-shadow: none;
}

.btn.btn-secondary.quote {
  background-color: #319036;
  color: white;
  width: 100%;
  font-size: 16px;
}
.btn.btn-secondary.quote:hover {
  background-color: #297a2d;
}
.button-box {
  display: none;
  text-align: center;
}
.button-box.active {
  display: block;
}

.button-box a {
  margin: 55px 0px 15px;
}

h1 {
  padding: 10px 0px 15px;
}

.double-spaced {
  margin-top: 20px;
}

.btn.btn-secondary {
  background-color: #2A84a8;
  color: white;
}

.btn.btn-secondary:hover {
  background-color: #277696;
}

.spaced-25 {
  margin-top: 25px;
}

.not-spaced {
  margin: 0;
}

.wrapper-conf {
  text-align: center;
  width: 340px;
  height: 255px;
  padding: 20px;
  position: absolute;
  top: 50%;
  top: calc(50% - 130px);
  left: 38%;
  left: calc(50% - 170px);
}

.text-wrapper {
  margin-top: 25px;
  font-size: 16px;
}

.rel {
  position: relative;
}

.tick {
  width: 140px;
}

.btn.btn-secondary.upload-file {
  background-color: white;
  color: black;
  border: 1px solid #2A84a8;
}
